.button {
  background: $primaryRed;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    background: $primaryBlue;
    cursor: pointer;
  }

  @include media("<=phone") {
    padding: 10px 20px;
  }
}

.button-outline-red {
  @include btnWithBorder($primaryRed);
}

.button-outline-blue {
  @include btnWithBorder($primaryBlue);
}
