#games {
  height: fit-content;

  .game-info {
    .game-title {
      @include uppercaseTitle(3px);
      color: $primaryBlue;
      font-size: 2.2rem;
      margin-bottom: 10px;
    }

    .game-description {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    @include media("<=phone") {
      .game-title {
        font-size: 1.7rem;
        margin-bottom: 10px;
      }

      .game-description {
        font-size: 1rem;
        margin-bottom: 20px;
      }
    }

    @include media("<=phoneLandscape", "landscape") {
      .game-title {
        font-size: 2.2rem;
      }

      .game-description {
        font-size: 1.3rem;
        margin-bottom: 20px;
      }
    }
  }
}
