#higherorlower {
  height: 100vh;
  padding: 0;

  .game-info-container {
    background: #00a1a6;
    border-bottom: solid 7px #3c1e03;
    height: 40%;

    .num-range {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }

    .score-container {
      font-size: 2rem;
    }
  }

  .game-area {
    height: 30%;
    .current-num {
      font-size: 7rem;
    }
  }

  .option-area {
    height: 30%;
    justify-content: flex-start;
    text-align: center;

    .message {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .or-span {
      font-size: 1.7rem;
    }

    .button {
      font-size: 1rem;
      border: none;
      margin: 0 15px;
    }

    .button-outline-red {
      border: 3px solid $primaryRed !important;
    }

    .button-outline-blue {
      border: 3px solid $primaryBlue !important;
    }

    .button.higher {
      background: #084ea6;
    }

    .button.lower {
      background: #a61f11;
    }
  }

  @include media("<=phone") {
    .game-info-container {
      height: 35%;

      .num-range {
        font-size: 2rem;
        margin-bottom: 15px;
      }

      .score-container {
        font-size: 1.8rem;
      }
    }

    .game-area {
      height: 30%;
      .current-num {
        font-size: 7.5rem;
      }
    }

    .option-area {
      height: 35%;

      .message {
        font-size: 1.7rem;
        margin-bottom: 15px;
      }

      .or-span {
        font-size: 1.9rem;
      }

      .button {
        padding: 20px;
      }
    }
  }

  @include media("<=phoneLandscape") {
    .game-info-container {
      height: 45%;

      .num-range {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      .score-container {
        font-size: 1.7rem;
      }
    }

    .game-area {
      height: 20%;
      .current-num {
        font-size: 4rem;
      }
    }

    .option-area {
      height: 35%;
      justify-content: center;

      .message {
        font-size: 1.6rem;
        margin-bottom: 15px;
      }

      .or-span {
        font-size: 1.5rem;
      }

      .button {
        padding: 15px 10px;
      }
    }

    .button-outline-red {
      border: 3px solid $primaryRed;
    }

    .button-outline-blue {
      border: 3px solid $primaryBlue;
    }
  }
}
