#landing {
  @include flexCenter(column);
  height: 80vh;
  background: url("../assets/img/landing-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);

  .section-title {
    font-size: 4.5rem;
    letter-spacing: 10px;
    text-align: center;
  }

  .section-subtitle {
    color: $primaryRed;
    font-size: 2.5rem;
    text-align: center;
  }

  .button {
    font-size: 1.2rem;
    margin-top: 15px;
  }

  @include media("<=phone") {
    height: 50vh;
    background-position-x: center;

    .section-title {
      font-size: 2.7rem;
      letter-spacing: 10px;
    }

    .section-subtitle {
      font-size: 1.5rem;
    }

    .button {
      font-size: 1.2rem;
      margin-top: 15px;
    }
  }
}
