@mixin flexCenter($direction) {
  align-items: center;
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin uppercaseTitle($letterSpacing) {
  text-transform: uppercase;
  letter-spacing: $letterSpacing;
}

@mixin btnWithBorder($color) {
  background: none;
  border: 3px solid $color;
  color: $color;
  font-weight: bold;
  transition: $transition;

  &:hover {
    background: $color;
    color: $white;
  }
}
