.nav {
  align-items: center;
  display: flex;
  height: 20vh;
  padding: 0 50px;

  .nav-brand {
    height: 70%;

    .brand-img {
      height: 100%;
    }
  }

  .link-container {
    @include flexCenter(row);
    list-style: none;
    margin-left: 50px;

    .nav-link {
      color: $primaryBlue;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 5px;
      margin-right: 50px;
      text-transform: uppercase;
      transition: $transition;

      &:hover {
        color: $primaryRed;
      }
    }
  }
}
