.section {
  height: 100vh;
  padding: 50px 100px;

  .section-title {
    color: $primaryBlue;
    font-size: 3.2rem;
    @include uppercaseTitle(5px);
    text-transform: uppercase;
  }

  .section-subtitle {
    color: $gray;
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
