$primaryRed: #e8041f;
$secondaryRed: #5d020c;
$primaryBlue: #00255c;
$secondaryBlue: darkblue;
$warningYellow: #e9c979;
$gray: #525458;
$white: #f8f8ff;

$font: "Raleway", sans-serif;
$titleFont: "Mitr", sans-serif;

$transition: all 0.2s ease-in;
