$primaryColor: #e9723d;
$darkerPrimary: #ba5b31;
$secondaryColor: #0b7fab;
$darkerSecondary: #096689;

$errorRed: #772e25;
$warningYellow: #f6df7e;
$successGreen: #08a045;

$gray: #525458;
$white: #f3f3f3;

$font: "Raleway", sans-serif;
$titleFont: "Mitr", sans-serif;

$transition: all 0.2s ease-in;
