@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
.button {
  background: #e8041f;
  border-radius: 5px;
  color: #f8f8ff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 15px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: #00255c;
  cursor: pointer;
}

@media (max-width: 425px) {
  .button {
    padding: 10px 20px;
  }
}

.button-outline-red {
  background: none;
  border: 3px solid #e8041f;
  color: #e8041f;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-outline-red:hover {
  background: #e8041f;
  border: 3px solid #e8041f;
  color: #f8f8ff;
}

.button-outline-blue {
  background: none;
  border: 3px solid #00255c;
  color: #00255c;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-outline-blue:hover {
  background: #00255c;
  border: 3px solid #00255c;
  color: #f8f8ff;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  padding: 0 50px;
}

.nav .nav-brand {
  height: 70%;
}

.nav .nav-brand .brand-img {
  height: 100%;
}

.nav .link-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-left: 50px;
}

.nav .link-container .nav-link {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00255c;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 50px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav .link-container .nav-link:hover {
  color: #e8041f;
}

@media (max-width: 425px) {
  .nav {
    height: 15vh;
    padding: 0 20px;
  }
  .nav .nav-brand {
    height: 50%;
  }
  .nav .link-container {
    margin-left: 20px;
  }
  .nav .link-container .nav-link {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .nav {
    height: 20vh;
    padding: 0 30px;
  }
  .nav .nav-brand {
    height: 90%;
  }
  .nav .link-container {
    margin-left: 35px;
  }
  .nav .link-container .nav-link {
    font-size: 1.2rem;
    margin-right: 30px;
  }
}

.section {
  height: 100vh;
  padding: 50px 100px;
}

.section .section-title {
  color: #00255c;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section .section-subtitle {
  color: #525458;
  font-size: 2rem;
  letter-spacing: 5px;
}

@media (max-width: 425px) {
  .section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px 20px;
  }
  .section .section-title {
    font-size: 2.2rem;
  }
  .section .section-subtitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 50px;
  }
  .section .section-title {
    font-size: 2.7rem;
  }
  .section .section-subtitle {
    font-size: 1.6rem;
  }
}

#landing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  background: url("../assets/img/landing-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
}

#landing .section-title {
  font-size: 4.5rem;
  letter-spacing: 10px;
  text-align: center;
}

#landing .section-subtitle {
  color: #e8041f;
  font-size: 2.5rem;
  text-align: center;
}

#landing .button {
  font-size: 1.2rem;
  margin-top: 15px;
}

@media (max-width: 425px) {
  #landing {
    height: 50vh;
    background-position-x: center;
  }
  #landing .section-title {
    font-size: 2.7rem;
    letter-spacing: 10px;
  }
  #landing .section-subtitle {
    font-size: 1.5rem;
  }
  #landing .button {
    font-size: 1.2rem;
    margin-top: 15px;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  #landing {
    height: 80vh;
    background-position-x: center;
  }
  #landing .section-title {
    font-size: 3rem;
  }
  #landing .section-subtitle {
    font-size: 1.7rem;
  }
  #landing .button {
    font-size: 1.3rem;
    margin-top: 15px;
  }
}

#games {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#games .game-info .game-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #00255c;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

#games .game-info .game-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media (max-width: 425px) {
  #games .game-info .game-title {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  #games .game-info .game-description {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  #games .game-info .game-title {
    font-size: 2.2rem;
  }
  #games .game-info .game-description {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
}

.game-info-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #f8f8ff;
  height: 30%;
  width: 100%;
}

.game-info-container .game-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 4.3rem;
  text-align: center;
}

@media (max-width: 425px) {
  .game-info-container .game-title {
    font-size: 2.3rem;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  .game-info-container {
    height: 50%;
  }
  .game-info-container .game-title {
    font-size: 2.1rem;
  }
}

@media (min-width: 1024px) {
  .game-info-container .game-title {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3.4rem;
  }
}

.game-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27%;
}

.option-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43%;
}

#mysteryword {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0;
  /***** PHONE STYLES *****/
}

#mysteryword .game-info-container {
  background: #e8041f;
  border-bottom: solid 7px #00255c;
}

#mysteryword .game-info-container .category {
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0;
}

#mysteryword .game-info-container .category .category-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f8f8ff;
  font-weight: bold;
  text-decoration: underline;
}

#mysteryword .game-info-container .guesses-left {
  font-size: 1.7rem;
}

#mysteryword .game-info-container .guesses-left .guess-num {
  font-size: 2.2rem;
  margin-left: 10px;
}

#mysteryword .game-area .letter {
  font-size: 4rem;
  margin: 0 25px;
}

#mysteryword .results-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 43%;
}

#mysteryword .results-area .results-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2.5rem;
  text-align: center;
}

#mysteryword .results-area .results-message {
  font-size: 1.7rem;
  margin: 25px 0;
  text-align: center;
}

#mysteryword .letter-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 43%;
  padding: 0 7%;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#mysteryword .letter-area .letters-container {
  margin-bottom: 15px;
}

#mysteryword .letter-area .letters-container .letter-btn {
  border: none;
  font-size: 3rem;
  margin-bottom: 20px;
}

#mysteryword .letter-area .letters-container .letter-btn:hover {
  color: #e8041f;
  cursor: pointer;
}

#mysteryword .letter-btn {
  background: none;
  color: black;
}

#mysteryword .options {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mysteryword .options .button {
  margin: 0 15px;
}

@media (max-width: 425px) {
  #mysteryword {
    height: 100vh;
    padding: 0;
  }
  #mysteryword .game-info-container .category {
    font-size: 1.3rem;
  }
  #mysteryword .game-info-container .guesses-left {
    font-size: 1.1rem;
  }
  #mysteryword .game-info-container .guesses-left .guess-num {
    font-size: 1.5rem;
  }
  #mysteryword .game-area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #mysteryword .game-area .letter {
    font-size: 0.8rem;
    margin: 0 20px;
  }
  #mysteryword .results-area {
    height: 43%;
  }
  #mysteryword .results-area .results-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.7rem;
  }
  #mysteryword .results-area .results-message {
    font-size: 1.3rem;
    margin: 25px 0;
  }
  #mysteryword .letter-area {
    padding: 0;
  }
  #mysteryword .letter-area .letters-container {
    margin-bottom: 15px;
  }
  #mysteryword .letter-area .letters-container .letter-btn {
    font-size: 1rem;
  }
  #mysteryword .options .button {
    margin: 0 15px;
    font-size: 1.2rem;
  }
}

@media (max-width: 926px) and (orientation: landscape) {
  #mysteryword {
    height: 100vh;
    padding: 0;
  }
  #mysteryword .game-info-container .category {
    font-size: 1.3rem;
  }
  #mysteryword .game-info-container .guesses-left {
    font-size: 1.3rem;
  }
  #mysteryword .game-info-container .guesses-left .guess-num {
    font-size: 1.7rem;
  }
  #mysteryword .game-area .letter {
    font-size: 1.7rem;
    margin: 0 20px;
  }
  #mysteryword .results-area {
    height: 43%;
  }
  #mysteryword .results-area .results-title {
    font-size: 1.7rem;
  }
  #mysteryword .results-area .results-message {
    font-size: 1.3rem;
    margin: 25px 0;
  }
  #mysteryword .letter-area {
    padding: 0 50px;
  }
  #mysteryword .letter-area .letters-container {
    margin-bottom: 5px;
  }
  #mysteryword .letter-area .letters-container .letter-btn {
    padding: 5px 15px;
    font-size: 1.3rem;
  }
  #mysteryword .options .button {
    font-size: 1rem;
    margin: 0 15px;
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  #mysteryword {
    height: 100vh;
    padding: 0;
  }
  #mysteryword .game-info-container .category {
    font-size: 1.7rem;
  }
  #mysteryword .game-info-container .guesses-left {
    font-size: 1.5rem;
  }
  #mysteryword .game-info-container .guesses-left .guess-num {
    font-size: 2rem;
  }
  #mysteryword .game-area .letter {
    font-size: 3rem;
    margin: 0 20px;
  }
  #mysteryword .results-area {
    height: 43%;
  }
  #mysteryword .results-area .results-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2.5rem;
  }
  #mysteryword .results-area .results-message {
    font-size: 1.7rem;
    margin: 25px 0;
  }
  #mysteryword .letter-area {
    padding: 0 1%;
  }
  #mysteryword .letter-area .letters-container {
    margin-bottom: 15px;
  }
  #mysteryword .letter-area .letters-container .letter-btn {
    font-size: 2.5rem;
  }
  #mysteryword .letter-btn {
    background: none;
    color: black;
  }
  #mysteryword .options .button {
    margin: 0 15px;
  }
}

#higherorlower {
  height: 100vh;
  padding: 0;
}

#higherorlower .game-info-container {
  background: #00a1a6;
  border-bottom: solid 7px #3c1e03;
  height: 40%;
}

#higherorlower .game-info-container .num-range {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

#higherorlower .game-info-container .score-container {
  font-size: 2rem;
}

#higherorlower .game-area {
  height: 30%;
}

#higherorlower .game-area .current-num {
  font-size: 7rem;
}

#higherorlower .option-area {
  height: 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

#higherorlower .option-area .message {
  font-size: 2rem;
  margin-bottom: 15px;
}

#higherorlower .option-area span {
  font-size: 1.7rem;
}

#higherorlower .option-area .button {
  font-size: 1rem;
  border: none;
  margin: 0 15px;
}

#higherorlower .option-area .button.higher {
  background: #084ea6;
}

#higherorlower .option-area .button.lower {
  background: #a61f11;
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00255c;
  color: #f8f8ff;
  height: 10vh;
}

@media (max-width: 926px) and (orientation: landscape) {
  .footer {
    height: 20vh;
    font-size: 1.3rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.success {
  color: darkgreen;
}

.warning {
  color: #e9c979;
}

.error {
  color: #5d020c;
}

.divider {
  margin: 25px 0;
  width: 100%;
}

.big-num {
  font-size: 2.5rem !important;
}

.disabled {
  background: #525458;
  color: #f8f8ff;
  border: 3px solid #525458;
}

.disabled:hover {
  cursor: default;
  background: #525458;
  color: #f8f8ff;
  border: 3px solid #525458;
}
/*# sourceMappingURL=style.css.map */