@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
.button {
  background: #e8041f;
  border-radius: 5px;
  color: #f8f8ff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 15px 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: #00255c;
  cursor: pointer;
}

.button-outline-red {
  background: none;
  border: 3px solid #e8041f;
  color: #e8041f;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-outline-red:hover {
  background: #e8041f;
  border: 3px solid #e8041f;
  color: #f8f8ff;
}

.button-outline-blue {
  background: none;
  border: 3px solid #00255c;
  color: #00255c;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button-outline-blue:hover {
  background: #00255c;
  border: 3px solid #00255c;
  color: #f8f8ff;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  padding: 0 50px;
}

.nav .nav-brand {
  height: 70%;
}

.nav .nav-brand .brand-img {
  height: 100%;
}

.nav .link-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-left: 50px;
}

.nav .link-container .nav-link {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #00255c;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 50px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav .link-container .nav-link:hover {
  color: #e8041f;
}

.section {
  height: 100vh;
  padding: 50px 100px;
}

.section .section-title {
  color: #00255c;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section .section-subtitle {
  color: #525458;
  font-size: 2rem;
  letter-spacing: 5px;
}

#landing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  background: url("../assets/img/landing-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
}

#landing .section-title {
  font-size: 4.5rem;
  letter-spacing: 10px;
  text-align: center;
}

#landing .section-subtitle {
  color: #e8041f;
  font-size: 2.5rem;
}

#landing .button {
  font-size: 1.2rem;
  margin-top: 15px;
}

.game-info .game-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #00255c;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.game-info .game-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#mysteryword {
  height: 100vh;
  padding: 0;
}

#mysteryword .game-info-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e8041f;
  border-bottom: solid 7px #00255c;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #f8f8ff;
  height: 30%;
  width: 100%;
}

#mysteryword .game-info-container .game-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 4.3rem;
}

#mysteryword .game-info-container .category {
  font-size: 2rem;
  font-weight: normal;
  margin: 10px 0;
}

#mysteryword .game-info-container .category .category-name {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f8f8ff;
  font-weight: bold;
  text-decoration: underline;
}

#mysteryword .game-info-container .guesses-left {
  font-size: 1.7rem;
}

#mysteryword .game-info-container .guesses-left .guess-num {
  font-size: 2.2rem;
  margin-left: 10px;
}

#mysteryword .mystery-word-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27%;
}

#mysteryword .mystery-word-container .letter {
  font-size: 4rem;
  margin: 0 25px;
}

#mysteryword .results-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 43%;
}

#mysteryword .results-area .results-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2.5rem;
}

#mysteryword .results-area .results-message {
  font-size: 1.7rem;
  margin: 25px 0;
}

#mysteryword .letter-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43%;
  padding: 0 7%;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#mysteryword .letter-area .letters-container {
  margin-bottom: 15px;
}

#mysteryword .letter-area .letters-container .letter-btn {
  border: none;
  font-size: 3rem;
  margin: 0;
}

#mysteryword .letter-area .letters-container .letter-btn:hover {
  color: #e8041f;
  cursor: pointer;
}

#mysteryword .letter-btn {
  background: none;
  color: black;
}

#mysteryword .options {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mysteryword .options .button {
  margin: 0 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.success {
  color: darkgreen;
}

.warning {
  color: #e9c979;
}

.error {
  color: #5d020c;
}

.divider {
  margin: 25px 0;
  width: 100%;
}

.disabled {
  background: #525458;
  color: #f8f8ff;
  border: 3px solid #525458;
}

.disabled:hover {
  cursor: default;
  background: #525458;
  color: #f8f8ff;
  border: 3px solid #525458;
}
/*# sourceMappingURL=style.css.map */